// Navigation Styles here

.mobile-top{
    display: none;

    @media @mobile{
        display:flex;
        padding:2vh 0;
        justify-content: center;
        align-self: center;
        font-family: @head-font;
    }
  }


nav{
    display: flex;
    width: 100%;
    padding: 2vh 0;
    justify-content:center;
    border-bottom:@navigation-border dashed 2px ;

    h1{
        font-family: @head-font;

        @media @mobile{
            display: none;
        }
    }

    .nav-anchors{
        margin-left:10% ;
        display: flex;
        font-size: 1.5rem;
        align-items: center;
        width: 25%;
        justify-content: space-evenly;
        font-family: @text-font;

        @media @mobile{
            width: 100%;
            margin:0;
            padding: 0;
            justify-content: space-around;
            align-items:center;
        
        }
    }

}